:root {
  --principal: #0A3871;
  --secundario: #495057;
  --terciario: #f8f8f8;
  --cuarto: #D8DFE8;
}

body {
  background-color: terciario;
}

main {
  display: flex;
  background-color: terciario;
  justify-content: space-around;
}

header img {
  width: 120px;
  height: 48px;
}

.contenedor-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70dvh;
}

.form-text {
  width: 100%;
  max-width: 577px;
  height: 64DVH;
  border-color:transparent;
  outline: none;
  background: transparent;
  font-size: 32px;
  font-family: 'Inter';
  margin-bottom: 5%;
}
 
::placeholder {
  color: var(--principal);
}

.alerta {
  display: flex;
}

.btn-encriptar {
  width: 200px;
  height: 67px;
  background-color: var(--principal);
  border-radius: 24px;
  border-color: transparent;
  color: var(--terciario);
  font-size: 16px;
  font-family: 'Inter';

}

.btn-desencriptar {
  width: 200px;
  height: 67px;
  background-color: var(--cuarto);
  border-radius: 24px;
  border-color: var(--principal);
  color: var(--principal);
  font-size: 16px;
  font-family: 'Inter';
}

.btn-copiar {
  width: 200px;
  height: 67px;
  background-color: var(--cuarto);
  border-radius: 24px;
  border-color: var(--principal);
  color: var(--principal);
  font-size: 16px;
  font-family: 'Inter';
}

.muneco {
  width: 336px;
  height: 304px;
  margin-top: 5%;
}

.contenedor-mensaje {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.resultado-titulo {
  font-size: 24px;
  font-family: 'Inter';
  color: var(--principal);
  text-align: center;
}

.resultado-texto {
  font-size: 16px;
  font-family: 'Inter';
  color: var(--principal);
  text-align: center;
}

.ocultar {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .muneco {
    display: none;
  }

  .contenedor-mensaje { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}